<div class="form-group">
    @if (ViewData.ModelMetadata.IsRequired) {
        <strong>@Html.Label("", ViewData.ModelMetadata.DisplayName)</strong>
    }
    else {
        @Html.Label("", ViewData.ModelMetadata.DisplayName)
    }

    @if (!String.IsNullOrEmpty(ViewData.ModelMetadata.Description)) {
        @:&nbsp;&nbsp; <small class="text-info">@ViewData.ModelMetadata.Description</small>
    }
    @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue,
    new { @class="form-control", placeholder = ViewData.ModelMetadata.DisplayName})
    @Html.ValidationMessage("")
</div>
